* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
}

.images {
    height: 230px !important;
    width: 270px !important;
}

.card-body {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 250px;
}


.carousel-indicators {
    bottom: 10px;
    color: black !important;

}

a {
cursor: pointer;
}

.btn-close {
    background-color: rgb(255, 255, 255) !important;
  cursor: pointer;
  padding: 4px;
  position: relative;
  font-size: 19px;
    right: 5px;

}
@media screen and (width < 768px) {
    .imd {
        height: 320px;
        width: 75% !important;
    }

    .middle {
        display: none !important;
    }
}


